data/
*.parquet
*.xlsx
*.csv
!experiments/classical_ml/results/model_results.csv
*.joblib
*.pkl
*.log
**pycache**/
.ipynb_checkpoints/
.DS_Store
results/large_outputs/
# Deep Learning additions
experiments/deep_learning/dataset/
experiments/deep_learning/dataset_v3/
experiments/deep_learning/logs/
*.npy
catboost_info/
scratch/
