# Data and temporary files
data/
catboost_info/
scratch/
*.parquet
*.xlsx
*.csv
!experiments/classical_ml/results/model_results.csv
*.joblib
*.pkl
*.log
.ipynb_checkpoints/

# Deep learning datasets
experiments/deep_learning/dataset_v3/
experiments/deep_learning/dataset/

# Hybrid datasets
experiments/hybrid_models/data/
experiments/hybrid_tcn_models/data/

# Generated tensors
*.npy

# Model checkpoints
*.pt
*.pth
*.ckpt

# Experiment logs and results
**/logs/
**/results/
!experiments/classical_ml/results/
!experiments/classical_ml/results/model_results.csv

# Python artifacts
**pycache**/
*.pyc

# System files
.DS_Store
